{
  "ASSISTANT_IAM_APIKEY": "CjYAFHodMvOmMK3Qzj7E1iuDY1mMkKVM9I0gp4CpNkj-",
  "ASSISTANT_IAM_URL": "https://gateway.watsonplatform.net/assistant/api",
  "WORKSPACE_ID": "b83b7435-089b-4926-8f34-2beb39588dac"
}
